@model VidlyMVCTutorial.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*the following is all messed up
BUT it's a taste of how html and c# work together*@

@*you coded it out for now because you're missing other things to make it work*@

@*<h2>@Model.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before.</p> }

else
{

<ul>

    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }

</ul>
}*@